.site-nav {
  margin: 1.5em 0;
}

.site-nav a {
  margin-right: 1em;
  text-decoration: none;
  font-weight: 500;
}

.site-nav a:hover {
  text-decoration: underline;
}

.site-footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid #e0e0e0;
  font-size: 0.9em;
  color: #666;
  text-align: center;
}

.site-footer a {
  color: inherit;
  text-decoration: none;
}

.site-footer a:hover {
  text-decoration: underline;
}

.site-footer em {
  font-style: normal;
  opacity: 0.85;
}

.footer-socials {
  margin-top: 0.5em;
}
